Repository sepandhaghighi/pyrgg, pull requests merged in 2023-11, with the labels that each got.

#152 Warn on invalid input
  CHANGELOG.md
  pyrgg/functions.py
  pyrgg/params.py
  pyrgg/test.py
  test/functions_test.py
Labels: enhancement

#154 Minor edits
  pyrgg/functions.py
  pyrgg/params.py
  test/functions_test.py
Labels: document, test

#155 Description
  CHANGELOG.md
  README.md
  otherfile/meta.yaml
  pyrgg/functions.py
  pyrgg/params.py
  setup.py
  test/functions_test.py
Labels: document

#156 Python 3.12
  .github/workflows/test.yml
  CHANGELOG.md
  README.md
  setup.py
Labels: document, test
